<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <span class="titulo"> LISTADO DE PRODUCTOS </span>
                        <button class="btn btn-success float-end" routerLink="/crear-producto">
                            NUEVO
                        </button>
                    </div>

                    <table *ngIf="listProductos.length > 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"> Nombre </th>
                                <th scope="col" class="text-center"> Categoria </th>
                                <th scope="col" class="text-center"> Ubicacionb </th>
                                <th scope="col" class="text-center"> Precio </th>
                                <th scope="col" class="text-center"> Acciones </th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let producto of listProductos">
                                <th scope="row"> {{ producto.nombre }} </th>
                                <td> {{ producto.categoria }} </td>
                                <td> {{ producto.ubicacion }} </td>
                                <td> {{ producto.precio | currency: 'USD' }} </td>
                                <td>
                                    <div class="row text-center">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button type="button" class="btn btn-light btn-sm" [routerLink]="['/editar-producto', producto._id]">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <button type="button" class="btn btn-light btn-sm" (click)="eliminarProducto(producto._id)">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 *ngIf="listProductos.length == 0"> No hay productos para mostrar. </h5>
                </div>
            </div>
        </div>
    </div>
</div>